body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: auto;
}

.left, .right {
    width: 50%;
    float: left;
    padding: 10px;
}

.left {
    border-right: 1px solid #ddd;
}

.right {
    padding-left: 20px;
}

form {
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    display: block;
    width: auto;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

.find, .email {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #ddd;
    color: #333;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.find:hover, .email:hover {
    background-color: #ccc;
}

/* Clearfix for the floating elements */
.container::after {
    content: "";
    clear: both;
    display: table;
}

